<div class="card p-3 shadow rounded">
  <div class="card-header text-center title mb-2"><h1>Créer une Promotion</h1></div>

  <form>
    <fieldset>
      <div class="form-group">
        <label for="lang">langue</label>
        <select class="form-control" id="lang">
          <option value="fr">Fr</option>
          <option value="ang">Ang</option>

        </select>
      </div>
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" class="form-control" id="title" >
      </div>
      <div class="form-group">
        <label for="desc">Description de la Promos</label>
        <textarea rows="2" class="form-control" id="desc" ></textarea>
      </div>
      <div class="form-group">
        <label for="lieu">Lieu de la promotion</label>
        <input type="text" class="form-control" id="lieu" >
      </div>
      <div class="form-group">
        <label for="ref">Reference Agate</label>
        <input type="text" class="form-control" id="ref" >
      </div>

      <div class="form-group">
        <label for="choix">Choix de la fabrique</label>
        <input type="text" class="form-control" value="Sonatel Academy" disabled id="choix">
      </div>
      <button type="submit" class="btn title">Enregistrer</button>
    </fieldset>
  </form>
</div>

