<form  #profilElement="ngForm"  class="text-center">
    <h2 class="text-white title">{{id? 'Modifier': 'Ajouter'}} <i class="fa fa-user-circle-o"></i></h2>
  <small id="error" class="text-danger" *ngIf="errors">{{errors["hydra:description"]}}</small>

    <div class="form-group">
      <input type="text" class="form-control" ngModel name="libelle" #libelle="ngModel" required>
    </div>

    <button [disabled]="!profilElement.valid" (click)="onSubmit(profilElement.value)" type="submit"  class="submitbtn border border-white">{{id? 'Modifier': 'Ajouter'}} </button>

  </form>



