.title{
  font-size: 1em;
  color: black;

}

a.btn {
  color: #566787;
  float: right;
  font-size: 13px;
  background: #fff;
  border: none;
  min-width: 50px;
  border-radius: 2px;
  outline: none !important;
  margin-left: 10px;
}
