<div class="card p-3 shadow rounded">
  <div class="card-header text-center title mb-2"><h1>Ajouter Competence <i class="fa fa-user-o"></i></h1></div>

  <form>
    <fieldset>
      <div class="form-group">
        <label for="profil">Groupe de Competences</label>
        <select class="form-control" id="profil">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="libelle">Libelle</label>
        <input type="text" class="form-control" id="libelle"  >
      </div>
      <button type="submit" class="btn title">Soumettre</button>
    </fieldset>
  </form>
</div>


