<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="d-flex justify-content-center">
          <router-outlet></router-outlet>
        </div>
        <div class="d-flex justify-content-between">
          <div>
            <input #inputElement  name="search" [(ngModel)]="search" class="form-control" type="text" placeholder="Filter par libelle...">
          </div>
          <div>
            <a  [routerLink]="['/profils/add']" class="btn btn-sm"><i class="fa fa-plus"></i> <span>Add New Profil</span></a>
          </div>
        </div>
      </div>
      <h2 class="text-dark text-center">Liste des <b>Profils</b></h2>
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Libelle</th>
          <th colspan="3">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr  *ngFor="let profil of profils |filter: search |  paginate: { itemsPerPage: 6, currentPage: p }; let i= index ">
          <td>{{i+1}}</td>
          <td>{{profil.libelle}}</td>
          <td>
          <a class="btn btn-sm btn-outline-primary" [routerLink]="[profil.id,'users']">{{'Liste des '+ profil.libelle}}</a>
          </td>
          <td><a [routerLink]="['/profils/edit',profil.id]" class="edit" title="Settings" data-toggle="tooltip"><i class="fa fa-pencil"></i></a></td>
          <td><a  (click)="clickMethod(profil.id)" class="delete" title="Delete" data-toggle="tooltip"><i class="fa fa-close"></i></a></td>
        </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>












