<div class="mainscreen pt-5">
  <form [formGroup]="form" class="w-50" (ngSubmit)="onSubmit(); form.reset()">
    <h2 class="text-white title">{{form.controls.$id.value? "Modifier Groupe de Competences ":" Ajouter Groupe de Competences"}} <i class="fa fa-bookmark"></i></h2>
    <input  type="hidden" placeholder="id" formControlName="$id">
    <!-- For Full Name -->
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Libelle" formControlName="libelle">
    </div>

    <div class="form-group">
      <textarea type="text" class="form-control" rows="7"  placeholder="descriptif"  formControlName="descriptif"><textarea name="" id="" cols="30" rows="10"></textarea>
    </div>

    <angular2-multiselect class="form-control mb-4" [data]="competences" formControlName="competences" [(ngModel)]="selectedItems"
                          [settings]="dropdownSettings"
    ></angular2-multiselect>
    <!-- For Submit Button-->
    <button class="submitbtn">{{form.controls.$id.value? "Modifier":" Ajouter"}} </button>

  </form>
</div>


