<div class="card p-3 shadow rounded">
  <div class="card-header text-center title mb-2"><h1>Ajouter Groupe de Compétences <i class="fa fa-user-o"></i></h1></div>

  <form>
    <fieldset>
      <div class="form-group">
        <label for="nom">Libelle</label>
        <input type="text" class="form-control" id="nom"  >
      </div>
      <div class="form-group">
        <label for="desc">Descriptif</label>
        <textarea class="form-control" id="desc" rows="5"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleSelect2">Compétences</label>
        <select multiple="" class="form-control" id="exampleSelect2">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <button type="submit" class="btn title">Enregistrer</button>
    </fieldset>
  </form>
</div>

