<div class="card mb-3">
  <h3 class="card-header">Développement web et mobile</h3>
  <div class="card-body">
    <p>De l’analyse du besoin à la mise en ligne, en passant par l’interface et la base
      de données, le·la développeur·se web conçoit et programme des applications
      web.</p>
  </div>
  <hr>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Groupe de Compétences</li>
    <li class="list-group-item">Programme</li>
    <li class="list-group-item">Critère d'évaluation</li>
    <li class="list-group-item">Critère d'admission</li>
  </ul>
</div>
